{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    @font-face {
       font-family: 'Mitr';
       src: url('/static/assets/fonts/Ubuntu/Mitr-Regular.ttf');
    }
    
    .block_info {
        display: flex;
        background-color: white;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        margin: 0px 33px 10px 33px;
        padding: 21px;
        font-family: 'Mitr';
        font-size: larger;
      }
        .block_info_sub {
            /* padding: 0px 21px 0px 21px; */
            margin: 0px 0px 0px 33px;
      }
    
    .backdrop_profile {
        background-color: #f8f8f8;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: black;
        font-family: 'Mitr';
        font-size: larger;
        padding-bottom: 60px;
    }
    .backdrop_profile2 {
        background-color: #f8f8f8;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: black;
        font-family: 'Mitr';
        font-size: 24px;
        padding-bottom: 60px;
    }
        .backdrop_profile_head{
            font-family: 'Mitr';
            color: white;
            padding: 48px 0px 23px 29px;
            background-color: #97559F;
            font-size: 36px;
        }
        .backdrop_profile_head2{
            background-color: #C4C4C4;
            font-family: 'Mitr';
            padding: 15px 0px 23px 29px;
            font-size: 24px;
            font-weight: lighter;
        }
        .title_group {
            font-family: 'Mitr';
            font-size: 24px;
            font-weight: bold; 
            color: black;
        }
        .detail_group {
            font-family: 'Mitr';
            font-size: 24px;
            color: black;
            padding: 25px;
            /* font-weight: bold;  */
        }
    
    .text_main {
        margin-left: 54px;
    }
    .table{
        padding: 0px 0px 0px 0px;
    }
    .row_head {
        background-color: #7d3486;
        color: white;
        text-align: center;
        border-color: white;
    }
    
    .row_body1 {
        background-color:lightgray;
        color: black;
    }
    
    .small_font {
        font-weight: lighter;
        font-size: 12px !important;
        color: #312F2C;
        margin-bottom: 12px;
    }
    input::placeholder{
      color: #f00;
    }
    .head_font {
        font-size: 12px; 
        margin-bottom: 12px;
    }
    .modal {
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        align-items: 'center';
        padding: 0% 25% 0% 25%;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 50px;
    }
        .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
    font-weight: lighter;
    color: #767676;
    }
    .button {
        border-radius : 50%;
        background-color: #7d3486;
       
    }
    .button2 {
        border-radius : 50%;
        background-color: #ffffff;
       
    }
    .icon {
      text-align: center;
      
     
    }
    .categories {
      margin-left: center;
      margin-right: center;
      padding: 20px;
      text-align: center;
      font-family: 'Mitr';
      color:#7d3486;
      font-weight: bold;
      font-size: 20px;
      width: 200px;
    }
    .private {
        display: 0;
      margin-left: center;
      margin-right: center;
      padding: 1px;
      text-align: center;
    }
    .lineformat {
        size: 107*10;
      /* margin-left: auto;
      margin-right: auto; */
      text-align: center;
    }
    
        
    </style>
    <table>
        <tr>

        <td class="icon">
            <button class="button"> <img src="../static/assets/images/product_images_2/Vector.png" alt=""> </button>
        </td>

        <td class="lineformat">
            <img src="../static/assets/images/product_images_2/Line 459.png" alt=""> 
        </td>

        <td class="icon">
            <button class="button2"> <img src="../static/assets/images/product_images_2/icon2.png" alt=""> </button>
        </td>

        <td class="lineformat">
            <img src="../static/assets/images/product_images_2/Line 459.png" alt=""> 
        </td>

        <td class="icon">
            <button class="button2"> <img src="../static/assets/images/product_images_2/education.png" alt=""> </button>
        </td>

        <td class="lineformat">
            <img src="../static/assets/images/product_images_2/Line 459.png" alt=""> 
        </td>

        <td class="icon">
            <button class="button2"> <img src="../static/assets/images/product_images_2/icon3.png" alt=""> </button>
        </td>

        <td class="lineformat">
            <img src="../static/assets/images/product_images_2/Line 459.png" alt=""> 
        </td>

        <td class="icon">
            <button class="button2"> <img src="../static/assets/images/product_images_2/icon3.png" alt=""> </button>
        </td>
        <td>
        </td>
        <td>
        </td>

        </tr>
       
        <tr>
        
            <td class="categories">เลือกประเภททุน</td>
            <td></td>
            <td class="categories">ข้อมูลส่วนตัว</td>
            <td></td>
            <td class="categories">ประวัติการศึกษา</td>
            <td></td>
            <td class="categories">ข้อมูลการขอรับทุน</td>
            <td></td>
            <td class="categories">ข้อมูลงานวิจัย</td>
        </tr>
    </table>

    <div class="backdrop_profile"> 
        <div class="backdrop_profile_head">
            เลือกประเภททุน 
        </div> 
    </div>

        <div class="backdrop_profile"> 
            <a href="">
                <div class="backdrop_profile_head2">
                <div class="title_group">1. ทุนในประเทศ </div>
                <div class="detail_group">กฟภ.ให้ทุนการศึกษา เรียนในเวลาทำการ โดยจะเป็นสาขาวิชา และสถาบันที่ กฟภ. กำหนด</div>
                </div>
            </a>
        </div>

        
            <div class="backdrop_profile"> 
                <a href="">
                    <div class="backdrop_profile_head2">
                    <div class="title_group">2. ทุนต่างประเทศ </div>
                    <div class="detail_group">กฟภ.ให้ทุนการศึกษา เรียนในเวลาทำการ โดยจะเป็นสาขาวิชา และสถาบันที่ กฟภ. กำหนด</div> 
                 </div>
                </a>
            </div>
    

            <div class="backdrop_profile"> 
                <a href="">
                        <div class="backdrop_profile_head2">
                        <div class="title_group">3. ทุนการสนับสนุนการศึกษา </div>
                        <div class="detail_group">กฟภ.ให้การสนับสนุนการศึกษา เรียนนอกเวลาทำการ โดยจะเป็นสาขาวิชาที่คณะกรรมการพัฒนาบุคลากรเป็นผู้กำหนด</div>         
                    </div>
                </a>
            </div>    

            <div class="backdrop_profile"> 
                <a href="">
                        <div class="backdrop_profile_head2">
                        <div class="title_group">4. การลาไปศึกษา </div>
                        <div class="detail_group">การไปศึกษาในช่วงเวลาทำการโดยเป็นสาขาวิชาที่คณะกรรมการพัฒนาบุคลากรเป็นผู้กำหนด</div>  
                    </div>
                </a>
            </div> 

            <div class="backdrop_profile"> 
                <a href="">
                        <div class="backdrop_profile_head2">
                        <div class="title_group">5. การอบรมระยะยาว </div>
                        <div class="detail_group">กฟภ.ให้การสนับสนุนไปอบรมต่างประเทศมากกว่า 3 เดือน</div>
                    </div>
                </a>
            </div> 

                          
{% endblock %}